<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>查看自己的定位</title>
</head>
<body>
    <h2>测试自动的定位</h2>
</body>
<script>
    function locationError(error) {
        console.log('error', error);
        alert('error' + JSON.stringify(error));
    }

    function locationSuccess(position) {
        console.log('position --', position);  
        alert('position: ' + JSON.stringify(position));  
    }


    if (navigator.geolocation) {  
        navigator.geolocation.getCurrentPosition(locationSuccess, locationError,{  
            // 指示浏览器获取高精度的位置，默认为false  
            enableHighAcuracy: true,  
            // 指定获取地理位置的超时时间，默认不限时，单位为毫秒  
            timeout: 10000,  
            // 最长有效期，在重复获取地理位置时，此参数指定多久再次获取位置。  
            maximumAge: 3000  
        });  
    }else{  
        alert("Your browser does not support Geolocation!");  
    } 
</script>
</html>